<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td><%= "#{product.price_currency} #{product.price}" %></td>
        <td><%= link_to 'Show', product_path(product.code, uuid: params[:uuid]) %></td>
        <td><%= link_to 'Add', add_product_path(product_code: product.code, uuid: params[:uuid]), data: { turbo_method: :post } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
