<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.code %></td>
        <td><%= product.name %></td>
        <td><%= "#{product.price_currency} #{product.price}" %></td>
        <td><%= link_to 'Show', product_path(product.code) %></td>
        <td><%= link_to 'Add', '#' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
